$font-1: 'Libre Baskerville', sans-serif;
$font-2: 'Merriweather', sans-serif;
$font-3: 'Montserrat', sans-serif;
$font-4: 'Open Sans', sans-serif;
$font-5: 'Poppins', sans-serif;
$font-6: 'Roboto', sans-serif;
