@use 'sass:math';

// font-size: rem(30);
// throw an error if the parameter has a unit
@function rem($pixel){
    //if pixel has no unit throw an erro
    //otherwise (else) divide $pixel
    @if math.is-unitless($pixel){
        @return math.div($pixel, 16) + rem;
    }
    @else{
        @error 'Don\'t use units whjen using the rem() function only numbers';
    }
}

@function em($pixel) {
    @if math.is-unitless($pixel){
        @return math.div($pixel, 16) + em;
    }
    @else{
        @error 'Don\'t use units whjen using the em() function only numbers'
    }
}