@use '../util/' as u;

h1, h2, h3 {
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
}

h1 {
    font-size: clamp(u.rem(28) + u.rem(16), 2vw + u.rem(40));
    // font-size: calc(16 + 2vw); old optioned but not ideal
    }

h2 {
    font-size: clamp(u.rem(22) + u.rem(14), 1.5vw + u.rem(36));
    //font-size: clamp(1.375rem, 0.875rem + 1.5vw, 2.25rem); old option but no longer ideal
}

p {
    margin-top: 0;
    font-size: u.rem(16);
}

a, a:visited, a:active {
    text-decoration: none;
}
